.header {
  a {
    position: absolute;
    left: 2rem;

    i {
      font-size: 1.5rem;
    }
  }
}

.main--menu {
  padding: 0;
}

.section--menu {
  padding: 0 1rem;
}

.menu {
  &--topImg {
    width: 100%;
    object-fit: cover;
  }
}
